h1 {
  color: red;
}

div {
  float: left;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 4px solid black;
  background: yellow;
}

.first {
  border: 4px solid red;
}

.second {
  border: 4px solid #000000;
}

.hidden {
  display: none;
}
